.bar {
    height: 100%;
    font-size: 40px;
    color:white;
    text-align: center;
   
    
    
    
}

.corp {
    
}

.imageheader {
    filter: invert(1);
    height: 100px;
}


.link {
    display: flex;
    justify-content: flex-end;
    color: white;
    gap:15px;
}


.header {
  
    background-color: black;
    padding-bottom: 20px;
    

}