.carousel .slide img {
    width:50%;
    max-height: 400px;
   object-fit: cover;
   
    
    
}

.description {

    color: red;
    
}

.titre {
    color: black;
}

.real {
    color: black;
    text-align: center;
    font-size: 30px;
}

